<div class="container">
  <h1 class="text-center">Nueva persona</h1>
<div class="text-center">
  <%= render 'form', person: @person, class: 'btn btn-info' %>
  <%= link_to 'Volver', people_path, class: 'btn btn-succes' %>
</div>

</div>
