<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><a href="<%= people_path%>">INICIO</a></li>
        <li><a href="<%= projects_path%>">Proyectos</a></li>
        <li><a href="<%= new_person_path%>">Nuevas Personas</a></li>
        <li><a href="<%= new_project_path%>">Nuevos Proyectos</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
